@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	//This specifies the location of our layout file. 
}

@{ 
	ViewBag.Title = "Index";
	//This sets the title of the tab. 
}

<h2>Index</h2>

<p>Hello from our View Template!</p>


